/* タブコンテナスタイル */
#ktp-tabs {
  display: flex; /* Flexboxを使用 */
  flex-wrap: wrap; /* コンテンツが多い場合は折り返す */
  margin-bottom: 20px;
}

/* 各タブスタイル */
#ktp-tabs > div {
  flex: 1; /* 各タブが利用可能なスペースを均等に使用 */
  min-width: 120px; /* 最小幅を設定 */
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  text-align: center; /* タブのテキストを中央揃え */
  margin-right: -1px; /* ボーダー重複を防ぐ */
  margin-bottom: -1px; /* ボーダー重複を防ぐ */
}

/* アクティブなタブスタイル */
#ktp-tabs > div.active {
  background-color: #fff;
  border-bottom: none;
}

/* タブのタイトル */
#ktp-tabs > div > h1 {
  font-size: 16px;
  margin-top: 0;
}

/* タブのコンテンツスタイル */
#tab-content > div {
  display: none; /* 初期状態では全てのコンテンツを非表示 */
}
#tab-content > div.active {
  display: block; /* アクティブなコンテンツのみ表示 */
}


/* レスポンシブ対応 */
@media (max-width: 768px) {
  #ktp-tabs > div {
      flex-basis: 100%; /* スマートフォンでは1列に */
  }
}

/* タブのコンテンツを隠す */
#tab-content .content {
  display: none;
}

/* アクティブなタブのコンテンツを表示 */
#tab-content .content.active {
  display: block;
}
